<ion-view view-title="Sobre la aplicación">
    <ion-nav-buttons side="right">
        <!--<a style="color: black;" class="button button-icon icon ion-ios-trash-outline" ng-click="deleteCrew()"></a>-->
    </ion-nav-buttons>
    <ion-content scroll="false" data-tap-disabled="false">
        <div class="list card">
            <div class="item item-divider">
                <h2>Trip2Bilbao: encuentra lo que buscas</h2>
            </div>
            <div class="item item-body">
                <p>Esta aplicación se ha desarrollado dentro del marco de un proyecto de fin de grado. Se puede obtener mayor información sobre el funcionamiento e implementación accediendo desde el siguiente enlace:</p>
                <a class="button button-dark" href="https://github.com/Kevincifuentes/Trip2Bilbao-Ionic">
                    Documentación
                </a>
            </div>
            
            <div class="item item-body">
                <p>Aplicación orientada a la navegación por la ciudad de Bilbao. Proyecto desarrollado por Kevin Cifuentes Salas en colaboración con:</p>
            </div>
            <div class="item item-image">
                <img src="img/deustotech.png">
            </div>
            
            <a class="item item-icon-left" href="http://mobility.deustotech.eu/">
                <i class="icon ion-ios-help-outline"></i>
                Más proyectos similares
            </a>

        </div>
    </ion-content>
</ion-view>
