<ion-view view-title="{{ 'VESSEL_INFO' | translate }}">
    <ion-nav-buttons side="right">
        <a style="color: black;" class="button button-icon icon ion-ios-compose-outline" ng-click="openUpdateVesselModal()"></a>
        <a style="color: black;" class="button button-icon icon ion-ios-trash-outline" ng-click="deleteVessel()"></a>
    </ion-nav-buttons>
    <ion-content class="padding" scroll="true">

        <form name="viewVesselForm">
            <div class="item item-divider">
                {{ 'NAME' | translate }}
            </div>
            <label class="item item-text-wrap">
                {{ selectedVessel.name }}
            </label>

            <div class="item item-divider" style="margin-top:10px;">
                {{ 'SHIPOWNERS' | translate }}
            </div>
            <div class="item item-text-wrap" ng-if="selectedVessel.shipowners.people.length == 0 && selectedVessel.shipowners.organizations.length == 0">
                {{ 'NO_SHIPOWNERS_SELECTED' | translate }}
            </div>
            <div class="item item-text-wrap" ng-repeat="contact in selectedVessel.personOwners">
                <div>
                    <span class="title">{{ contact.name }} {{ contact.lastname }}</span>
                    <p class="description">{{ 'CAPABILITY' | translate }}: {{ contact.capabilityName }}</p>
                </div>
            </div>
            <div class="item item-text-wrap" ng-repeat="org in selectedVessel.orgOwners">
                <div>
                    <span class="title">{{ org.name }}</span>
                    <p class="description">{{ 'COUNTRY' | translate }}: {{ org.countryName }}</p>
                </div>
            </div>

            <div class="item item-divider" style="margin-top:10px;">
                {{ 'VESSEL_DATA' | translate }}
            </div>

            <label class="item">
                <i class="icon"></i>
                <font size="2">{{ 'MODEL' | translate }}:</font> {{ selectedVessel.model }}
            </label>
            <label class="item">
                <i class="icon"></i>
                <font size="2">{{ 'TYPE' | translate }}:</font> {{ selectedVessel.typeName }}
            </label>
            <label class="item">
                <i class="icon"></i>
                <font size="2">{{ 'LENGTH' | translate }}:</font> {{ selectedVessel.length }}
            </label>
            <label class="item">
                <i class="icon"></i>
                <font size="2">{{ 'YEAR' | translate }}:</font> {{ selectedVessel.year }}
            </label>
            <label class="item">
                <i class="icon"></i>
                <font size="2">{{ 'BASE_PORT' | translate }}:</font> {{ selectedVessel.basePortName }}
            </label>
            <label class="item">
                <i class="icon"></i>
                <font size="2">{{ 'STATUS' | translate }}:</font> {{ selectedVessel.statusName }}
            </label>
            <label class="item">
                <i class="icon"></i>
                <font size="2">{{ 'COUNTRY' | translate }}:</font> {{ selectedVessel.countryName }}
            </label>
            <label class="item">
                <i class="icon"></i>
                <font size="2">{{ 'BEAM' | translate }}:</font> {{ selectedVessel.beam }}
            </label>
            <label class="item">
                <i class="icon"></i>
                <font size="2">{{ 'BRAND' | translate }}:</font> {{ selectedVessel.brand }}
            </label>
            <label class="item">
                <i class="icon"></i>
                <font size="2">{{ 'DRAUGHT' | translate }}:</font> {{ selectedVessel.draught }}
            </label>
            <label class="item">
                <i class="icon"></i>
                <font size="2">{{ 'LOCATION_PORT' | translate }}:</font> {{ selectedVessel.locationPortName }}
            </label>
            <label class="item">
                <i class="icon"></i>
                <font size="2">{{ 'MMSI' | translate }}:</font> {{ selectedVessel.mmsi }}
            </label>
            <label class="item">
                <i class="icon"></i>
                <font size="2">{{ 'PLATE' | translate }}:</font> {{ selectedVessel.plate }}
            </label>
        </form>

    </ion-content>
</ion-view>