<ion-view view-title="{{ 'CROSSINGS' | translate }}">
    <ion-nav-buttons side="right">
        <a style="color: black;" class="button button-icon icon ion-ios-plus-empty" ui-sref="menu.new-crossing"></a>
    </ion-nav-buttons>
    <ion-content scroll="true">
        <div class="list layouts-functionalities">
            <!--a class="item item-icon-left item-icon-right" ng-repeat="c in crossings | orderBy:'-startTimestamp' | filter:{startTimestamp: ''}" ng-click="getCrossingInfo(c)"-->
            <a class="item item-icon-left item-icon-right" ng-repeat="c in crossings | filter:{name: ''}" ng-click="getCrossingInfo(c)">
                <i class="icon ion-android-compass"></i>
                <div>
                    <span class="title">{{ c.name }}</span>
                    <!--p class="description">{{ 'TRACK_DATE' | translate }}: {{ c.startTimestamp | date:'d MMM y, HH:mm:ss' }}</p-->
                    <p class="description">{{ 'TRACK_MAP_TITLE' | translate }}: {{ c.closed ? 'Cerrado' : 'Abierto'  }}</p>
                </div>
                <i class="icon ion-arrow-right-c"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
