<ion-view title="Pasado">
    <ion-nav-buttons side="right">
        <!--<a style="color: black;" class="button button-icon icon ion-ios-trash-outline" ng-click="deleteCrew()"></a>-->
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/meteo.png">
                <h2>Tiempo para pasado mañana</h2>
                <p>{{diaPasado | date:'dd-MM-yyyy'}}</p>
            </div>
            <div class="item item-body">
                <div class="row">
                    <div class="col"><img height='50' width='50' src='img/cold.png' /><span id='spanHmax'>Min. <b>{{pasado.tMin}}</b>  °C</span></div>
                    <div class="col"><img height='50' width='50' src='img/hot.png' /><span id='spanHmax'>Max. <b>{{pasado.tMax}}</b>  °C</span></div>
                </div>
            </div>
            <div class="item item-body">
                <h3>Descripción general</h3>
                <h4>Castellano</h4>
                <p>
                    {{pasado.dES}}
                </p>
                <h4>Euskera</h4>
                <p>
                    {{pasado.dEU}}
                </p>
                <p>
                    <!--<a href="#" class="subdued">1 Like</a>-->
                </p>
            </div>
            <div class="item item-body">
                <h3>Descripción específica</h3>
                <h4>Castellano</h4>
                <p>
                    {{pasado.gES}}
                </p>
                <h4>Euskera</h4>
                <p>
                    {{pasado.gEU}}
                </p>
                <p>
                    <!--<a href="#" class="subdued">1 Like</a>-->
                </p>
            </div>
            

        </div>
</ion-view>