<ion-view view-title="{{ 'NEW_CROSSING' | translate }}">
    <ion-content class="padding" scroll="false">
        <form name="newCrossingForm" ng-controller="CrossingCtrl" novalidate>
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="{{ 'NAME' | translate }}" ng-model="data.name" name="name" required>
                </label>

                <div class="item item-divider item-button-right" style="margin-top:10px;">
                    {{ 'VESSEL_INFO' | translate }}
                    <a class="button button-icon icon ion-ios-plus-empty" style="top:-4px" ng-click="openVesselModal(true)">
                    </a>
                </div>
                <div class="item item-text-wrap" ng-if="vesselCrossing == null">
                    {{ 'NO_VESSEL_SELECTED' | translate }}
                </div>
                <div class="item item-text-wrap item-icon-right" ng-if="vesselCrossing != null">
                    <div>
                        <span class="title">{{ vessel.data.name }}</span>
                        <p class="description">{{ 'TYPE' | translate }}: {{ vessel.data.typeName }}</p>
                    </div>
                    <a class="button button-icon icon ion-ios-close" ng-click="removeVessel()"></a>
                </div>

                <div class="item item-divider item-button-right" style="margin-top:10px;">
                    {{ 'CREW_INFO' | translate }}
                    <a class="button button-icon icon ion-ios-plus-empty" style="top:-4px" ng-click="openCrewModal(false)">
                    </a>
                </div>
                <div class="item item-text-wrap" ng-if="crewCrossing == null">
                    {{ 'NO_CREW_SELECTED' | translate }}
                </div>
                <div class="item item-text-wrap item-icon-right" ng-if="crewCrossing != null">
                    <div>
                        <span class="title">{{ crew.data.name }}</span>
                        <p class="description">{{ 'MEMBERS' | translate }}: {{ crew.data.members.length }}</p>
                    </div>
                    <a class="button button-icon icon ion-ios-close" ng-click="removeCrew()"></a>
                </div>

                <div class="item item-divider item-button-right" style="margin-top:10px;">
                    {{ 'CHECKLIST_INFO' | translate }}
                    <a class="button button-icon icon ion-ios-plus-empty" style="top:-4px" ng-click="openChecklistModal(false)"></a>
                </div>
                <div class="item item-text-wrap" ng-if="checklist == null || checklistVal == false">

                    {{ 'CHECKLIST_NOT_COMPLETED' | translate }} 
                </div>
                <div class="item item-text-wrap" ng-if="checklist != null && checklistVal == true">
                    <i class="icon ion-checkmark"></i>
                    {{ 'CHECKLIST_COMPLETED' | translate }} 
                </div>
            </div>
            <button class="button button-block button-positive" ng-click="saveCrossing()" ng-disabled="newCrossingForm.$invalid || vesselCrossing == null || crewCrossing == null || checklistVal == false">{{ 'START_TRACK' | translate }}</button>
        </form>
    </ion-content>
</ion-view>

<script id="select-vessel-modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar align-title="left" class="bar-positive">
            <h1 class="title">{{ 'SELECT_VESSEL' | translate }}</h1>
            <div class="buttons">
                <button class="button button-icon icon ion-ios-close-empty" ng-click="closeVesselModal()"></button>
            </div>
        </ion-header-bar>
        <ion-content class="padding" scroll="true">
            <form name="selectVesselForm" novalidate>
                <div class="list list-inset">
                    <div class="item item-input item-select" style="margin-bottom:10px">
                        <div class="input-label">
                            &nbsp;
                        </div>
                        <select name="vessel" style="width:100%"
                                ng-options="vessel as vessel.name for vessel in vessels"
                                ng-model="vessel.data">

                            <option value="" disabled selected style="display:none;">{{ 'SELECT_VESSEL' | translate }}</option>
                        </select>
                    </div>
                    <div ng-if="vessel.data !== undefined">
                        <div class="item item-divider">
                            {{ 'VESSEL_DATA' | translate }}
                        </div>
                        <div class="item item-text-wrap">
                            <font size="2">{{ 'NAME' | translate }}:</font> {{ vessel.data.name }}
                        </div>
                        <div class="item item-text-wrap">
                            <font size="2">{{ 'TYPE' | translate }}:</font> {{ vessel.data.typeName }}
                        </div>
                        <div class="item item-text-wrap">
                            <font size="2">{{ 'STATUS' | translate }}:</font> {{ vessel.data.statusName }}
                        </div>
                    </div>
                </div>
                <button class="button button-block button-positive" ng-click="addVessel()" ng-disabled="selectVesselForm.$invalid || vessel.data === undefined">{{ 'ADD' | translate }}</button>
            </form>
        </ion-content>
    </ion-modal-view>
</script>

<script id="select-crew-modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar align-title="left" class="bar-positive">
            <h1 class="title">{{ 'SELECT_CREW' | translate }}</h1>
            <div class="buttons">
                <button class="button button-icon icon ion-ios-close-empty" ng-click="closeCrewModal()"></button>
            </div>
        </ion-header-bar>
        <ion-content class="padding" scroll="true">
            <form name="selectCrewForm" novalidate>
                <div class="list list-inset">
                    <div class="item item-input item-select" style="margin-bottom:10px">
                        <div class="input-label">
                            &nbsp;
                        </div>
                        <select name="crew" style="width:100%"
                                ng-options="crew as crew.name for crew in crews"
                                ng-model="crew.data">

                            <option value="" disabled selected style="display:none;">{{ 'SELECT_CREW' | translate }}</option>
                        </select>
                    </div>
                    <div ng-if="crew.data !== undefined">
                        <div class="item item-divider">
                            {{ 'CREW_INFO' | translate }}
                        </div>
                        <div class="item item-text-wrap">
                            {{ crew.data.name }}
                        </div>
                        <div class="item item-divider">
                            {{ 'PATRON' | translate }}
                        </div>
                        <div class="item item-text-wrap" ng-if="crew.data.patronMember != null">
                            <div>
                                <span class="title">{{ crew.data.patronMember.name }} {{ crew.data.patronMember.lastname }}</span>
                                <p class="description">{{ 'CAPABILITY' | translate }}: {{ crew.data.patronMember.capabilityName }}</p>
                            </div>
                        </div>
                        <div class="item item-divider">
                            {{ 'MEMBERS' | translate }}
                        </div>
                        <div class="item item-text-wrap" ng-if="crew.data.noPatronMembers.length == 0">
                            {{ 'NO_MEMBER_INCLUDED' | translate }}
                        </div>
                        <div class="item item-text-wrap" ng-repeat="miembro in crew.data.noPatronMembers">
                            <div>
                                <span class="title">{{ miembro.name }} {{ miembro.lastname }}</span>
                                <p class="description">{{ 'CAPABILITY' | translate }}: {{ miembro.capabilityName }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="button button-block button-positive" ng-click="addCrew()" ng-disabled="selectCrewForm.$invalid || crew.data === undefined">{{ 'ADD' | translate }}</button>
            </form>
        </ion-content>
    </ion-modal-view>
</script>

<script id="select-checklist-modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar align-title="left" class="bar-positive">
            <h1 class="title">{{ 'COMPLETE_CHECKLIST' | translate }}</h1>
            <div class="buttons">
                <button class="button button-icon icon ion-ios-close-empty" ng-click="closeChecklistModal()"></button>
            </div>
        </ion-header-bar>
        <ion-content class="" scroll="true">
            <form name="selectChecklistForm" novalidate>
                <div class="content">
                    <ul class="list">
                        <ion-toggle toggle-class="toggle-balanced"
                                    ng-repeat="item in checklist"
                                    ng-model="item.checked"
                                    ng-change="checklistChange(item)">
                            {{ item.text }}
                        </ion-toggle>
                    </ul>
                 </div>
                <div class="padding list-inset" scroll="false">
                    <button class="button button-block button-positive" style="" ng-click="addChecklist()" ng-disabled="selectChecklistForm.$invalid || checklistVal == false"> {{ 'ADD' | translate }} </button>
                </div>
            </form>
        </ion-content>
    </ion-modal-view>
</script>