<!--<ion-view view-title="{{ 'CONTACT_INFO' | translate }}">-->
<ion-view view-title="">
    <ion-nav-buttons side="right">
        <a style="color: black;" class="button button-icon icon ion-ios-compose-outline" ng-click="openEditOrgModal()"></a>
        <a style="color: black;" class="button button-icon icon ion-ios-trash-outline" ng-click="deleteOrganizationContact()"></a>
        <a style="color: black;" class="button button-icon icon ion-ios-arrow-thin-left" ng-click="cancelToOrganizations()"></a>
    </ion-nav-buttons>
    <ion-content>
        <form name="myForm" ng-controller="ContactInfoCtrl">
            <div class="item item-avatar">
                <img src="https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg">
                <h2>{{ selectedContact.name }}</h2>
            </div>

            <div class="item item-divider">
                {{ 'ORGANIZATION_DATA' | translate }}
            </div>
            <label class="item item-icon-left">
                <i class="icon ion-card"></i>
                <font size="2">{{ 'CIF' | translate }}:</font> {{ selectedContact.cif }}
            </label>
            <label class="item item-icon-left">
                <i class="icon ion-earth"></i>
                <font size="2">{{ 'COUNTRY' | translate }}:</font> {{ selectedContact.countryName }}
            </label>
        </form>

    </ion-content>
</ion-view>

<script id="edit-organization-modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar align-title="left" class="bar-positive">
            <h1 class="title">{{ 'EDIT_CONTACT_MODAL_TITLE' | translate }}</h1>
            <div class="buttons">
                <button class="button button-icon icon ion-ios-close-empty" ng-click="closeEditOrgModal()"></button>
            </div>
        </ion-header-bar>
        <ion-content class="padding">
            <form name="updateContactForm" ng-controller="ContactCtrl" novalidate>
                <div class="list list-inset">
                    <div class="item item-divider">{{ 'ORGANIZATION_DATA' | translate }}</div>                   
                    <label class="item item-input">
                        <input type="text" placeholder="{{ 'CIF' | translate }}" ng-model="selectedToEditContact.cif" name="cif" required>
                    </label><label class="item item-input">
                        <input type="text" placeholder="{{ 'NAME' | translate }}" ng-model="selectedToEditContact.name" name="name" required>
                    </label>
                    <div class="item item-input item-select">
                        <div class="input-label">
                            &nbsp;
                        </div>
                        <select name="country"
                                ng-options="country.code as country.name for country in countries"
                                ng-model="selectedToEditContact.country" required>

                            <option value="" disabled selected style="display:none;">{{ 'COUNTRY' | translate }}</option>
                        </select>
                    </div>
                </div>
                <button class="button button-block button-positive" ng-click="updateOrgContact(updateContactForm)" ng-disabled="updateContactForm.$invalid">{{ 'UPDATE' | translate }}</button>
            </form>
        </ion-content>
    </ion-modal-view>
</script>