<!--<ion-view view-title="{{ 'CONTACT_INFO' | translate }}">-->
<ion-view view-title="">
    <ion-nav-buttons side="right">
        <a style="color: black;" class="button button-icon icon ion-ios-compose-outline" ng-click="openEditPersonModal()"></a>
        <a style="color: black;" class="button button-icon icon ion-ios-trash-outline" ng-click="deletePersonContact()"></a>
        <a style="color: black;" class="button button-icon icon ion-ios-arrow-thin-left" ng-click="cancel()"></a>
    </ion-nav-buttons>
    <ion-content>
        <form name="myForm" ng-controller="ContactInfoCtrl">
            <div class="item item-avatar">
                <img src="https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg">
                <h2>{{ selectedContact.name }} {{ selectedContact.lastname }}</h2>
                <p> {{ selectedContact.birthday | date:'dd/MM/yyyy'}}</p>
            </div>

            <div class="item item-divider">
                {{ 'PERSONAL_DATA' | translate }}
            </div>
            <label class="item item-icon-left">
                <i class="icon ion-ios-star-outline"></i>
                <font size="2">{{ 'CAPABILITY' | translate }}:</font> {{ selectedContact.capabilityName }}
            </label>
            <label class="item item-icon-left">
                <i class="icon ion-card"></i>
                <font size="2">{{ 'NIF' | translate }}:</font> {{ selectedContact.nif }}
            </label>
            <label class="item item-icon-left">
                <i class="icon ion-ios-email-outline"></i>
                {{ selectedContact.email }}
            </label>
            <label class="item item-icon-left">
                <i class="icon ion-ios-telephone-outline"></i>
                {{ selectedContact.phone }}
            </label>
            <label class="item item-icon-left">
                <i class="icon ion-earth"></i>
                {{ selectedContact.countryName }}
            </label>
            <div class="item item-divider">
                {{ 'EMERGENCY_PHONES' | translate }}
            </div>
            <label class="item item-icon-left">
                <i class="icon ion-ios-telephone-outline"></i>
                {{ selectedContact.emergencyPhone1 }}
            </label>
            <label class="item item-icon-left">
                <i class="icon ion-ios-telephone-outline"></i>
                {{ selectedContact.emergencyPhone2 }}
            </label>

            <!--<button class="button button-positive button-block" ng-click="deletePersonContact()">{{ 'DELETE' | translate }}</button>-->
            <!--<a class="button icon-left ion-ios-trash-outline button-clear button-dark" ng-click="deletePersonContact()">{{ 'DELETE' | translate }}</a>-->
        </form>

    </ion-content>
</ion-view>

<script id="edit-person-modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar align-title="left" class="bar-positive">
            <h1 class="title">{{ 'EDIT_CONTACT_MODAL_TITLE' | translate }}</h1>
            <div class="buttons">
                <button class="button button-icon icon ion-ios-close-empty" ng-click="closeEditPersonModal()"></button>
            </div>
        </ion-header-bar>
        <ion-content class="padding">
            <form name="updateContactForm" ng-controller="ContactCtrl" novalidate>
                <div class="list list-inset">
                    <div class="item item-divider">{{ 'CAPABILITY' | translate }}</div>
                    <div class="item item-input item-select">
                        <div class="input-label">
                            &nbsp;
                        </div>
                        <select name="capability"
                                ng-options="capability.code as capability.type for capability in capabilities"
                                ng-model="selectedToEditContact.capability"></select>
                    </div>
                    <div class="item item-divider">{{ 'PERSONAL_DATA' | translate }}</div>
                    <label class="item item-input">
                        <input type="text" placeholder="{{ 'NIF' | translate }}" ng-model="selectedToEditContact.nif" name="nif" required>
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="{{ 'NAME' | translate }}" ng-model="selectedToEditContact.name" name="name" required>
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="{{ 'LASTNAME' | translate }}" ng-model="selectedToEditContact.lastname" name="lastname" required>
                    </label>
                    <label class="item item-input">
                        <input type="email" placeholder="{{ 'EMAIL' | translate }}" ng-model="selectedToEditContact.email" name="email" required>
                    </label>
                    <label class="item item-input">
                        <input type="date" placeholder="{{ 'BIRTHDAY' | translate}}" ng-model="selectedToEditContact.birthday" name="birthday" required>
                    </label>
                    <label class="item item-input">
                        <input type="tel" placeholder="{{ 'PHONE' | translate }}" ng-model="selectedToEditContact.phone" name="phone" required>
                    </label>
                    <div class="item item-input item-select">
                        <div class="input-label">
                            &nbsp;
                        </div>
                        <select name="country"
                                ng-options="country.code as country.name for country in countries"
                                ng-model="selectedToEditContact.country" required>

                            <option value="" disabled selected style="display:none;">{{ 'COUNTRY' | translate }}</option>
                        </select>
                    </div>
                    <div class="item item-divider">
                        {{ 'EMERGENCY_PHONES' | translate }}
                    </div>
                    <label class="item item-input">
                        <input type="tel" placeholder="{{ 'EMERGENCY_PHONE' | translate }} 1" ng-model="selectedToEditContact.emergencyPhone1" name="emergencyPhone1" required>
                    </label>
                    <label class="item item-input">
                        <input type="tel" placeholder="{{ 'EMERGENCY_PHONE' | translate }} 2" ng-model="selectedToEditContact.emergencyPhone2" name="emergencyPhone2" required>
                    </label>
                </div>
                <button class="button button-block button-positive" ng-click="updatePersonContact(updateContactForm)" ng-disabled="updateContactForm.$invalid">{{ 'UPDATE' | translate }}</button>
            </form>
        </ion-content>
    </ion-modal-view>
</script>
